*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}
h1 {
    color: red;
    font-size: 1em;
    z-index: 98;
}
.rect {
    display: block;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    z-index: 99;
    .pos {
        font-size: 0.5em;
    }
}
// html, body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//   }
// #container {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     div {
//         background-color: lightgray;
//         border: 1px solid white;
//     }
//   }